


    
h1 {
        font-family: "Amatic+SC", cursive, sans-serif;

        src: url(/Users/Chrystia/Desktop/SullivanWebsite/amatic/Amatic-Bold.ttf);
        font-size: 48px;

    color: navy;
    margin-left: 20px;
}

div {
   font-family: "Amatic+SC";
}

{font-family: "Caslon", serif;
}

body {
  font-family: "Helvetica", sans-serif;
}

h2 {
  color: #7A0019;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
