

h1 {
        font-family: "Amatic+SC", cursive, sans-serif;
        text-align: center;
        src: url(amatic/Amatic-Bold.ttf);
        font-size: 48px;

    color: navy;
    margin-left: 1px;
}

td.menu {
  padding: 10px
}

td.caption {
  font-size: 11px;
}

div {
   font-family: "Amatic+SC", sans-serif;
}

body {
  font-family: "Helvetica", sans-serif;
}

h2 {
  color: navy;
}

img.align-left {
  float: left;
  margin-right: 10px
}
img.align-right {
  float: right;
  margin-left: 10px
}
img.align-center {
  display: block;
  margin: 0px auto;
}
img.small{
  width: 220px;
  height: 330px;
}
img.smallbox{
  width: 200px;
  height: 200px;
}
img.smalllandscape{
  width: 280px;
  height: 210px;
}
img.largelandscape{
  width: 600px;
  height: 400px;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
